@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Outfit", sans-serif;
}
img {
  max-width: 100%;
}

body {
  background-image: url(../resources/qa-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img {
  margin-bottom: 30px;
  justify-self: center;
}

.formulario {
  justify-self: center;
  background-color: #030616;
  border-radius: 20px;
  padding: 25px 25px 25px 25px;
  outline: 3px solid #263fa9;
  width: 70%;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formulario input {
  outline: none;
  color: #fafaf9;
  background-color: #030616;
  margin-right: 30px;
  width: 67%;
  font-size: 1.2rem;
}

input::placeholder {
  font-size: 1rem;
  color: #fafaf9;
  font-size: 1.2rem;
}

form {
  justify-self: center;
  width: 100%;
}

button {
  background-color: #263fa9;
  color: #fafaf9;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.qr-code{
    display: none;
    justify-items: center;
}
.qr-code [data-qrcode]{
    background-color: #fafaf9;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;

}

.buttons {
  justify-self: center;
}

.buttons button {
  padding: 10px;
  margin-right: 15px;
}

.img-span {
  vertical-align: middle;
}
